.container-disp{
   display: flex;
   flex-grow: 1;
   width: 100%;
   height: 1000px;
   background-color: rgb(250, 249, 210);
   align-items: center;
   justify-content: center;
}

.disponibilidades {
   background-color: rgb(255, 253, 182);
   width: 80%;
   height: 100%;
   border-left: 1px solid black;
   border-right: 1px solid black;
   display: flex;
}

.title {
   position: relative;

   font-size: 21px;
}

.container-form {
   position: relative;
   margin: 6%;
   width: 500px;
}

.reserva-button{
   color:black;
   font-size:larger;
   border-radius: 12px;
   padding: 8px;
   border-color: rgb(168, 162, 162);
   background-color:  #5EF5D8;

}

.reserva-button:hover{
   transform: scale(1.05);
   transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.container-img{
   margin-top: 70px;
   margin-left: 100px;
}

.imgcont-dog{
   width: 600px;
   height: 600px;
   border: 2.5px solid;
}

hr {
   width: 1px;
   color: black solid;
   height: 100px;
   position: absolute;
   size: 100px;
}
